@layout CommonUserLayout
@inherits GlobalConfigPageBase

<IdentityServerBusinessTemplate IdentityServerBusinessTemplatePageParams="IdentityServerBusinessTemplatePageParams">

    <div style="width: 70%; margin: 0 auto;max-height: 80vh; overflow: scroll">
        <p style="font-size: 24px; margin-bottom: 0">@IdentityServerBusinessTemplatePageParams.ClientName 正在请求您的权限</p>
        <p>管理您期望授权该客户端的权限</p>
        <div style="max-height: 55vh; overflow: scroll">


            @{
                if (ConsentModel != null)
                {
                    if (ConsentModel.IdentityScopes != null && ConsentModel.IdentityScopes.Any())
                    {
                        <Divider Orientation="left" Plain>
                         个人信息
                     </Divider>
                        @foreach (var scope in ConsentModel.IdentityScopes)
                        {
                            <div>
                                <Checkbox Label="A" Disabled="@(scope.Required)" @bind-Checked="@(scope.Checked)">
                                    <span style="@(scope.Emphasize ? "font-weight: bold" : "")">
                                        @scope.DisplayName
                                    </span>
                                    @if (scope.Required)
                                    {
                                        <span><em>(必选)</em></span>
                                    }
                                    @if (scope.Description != null)
                                    {
                                        <p>@scope.Description</p>
                                    }
                                </Checkbox>
                            </div>
                        }
                    }
                }
            }




            @{
                if (ConsentModel != null)
                {
                    if (ConsentModel.ApiScopes != null && ConsentModel.ApiScopes.Any())
                    {
                        <Divider Orientation="left" Plain>
                         客户端访问权限
                     </Divider>
                        @foreach (var scope in ConsentModel.ApiScopes)
                        {
                            <div>
                                <Checkbox Label="A" Disabled="@(scope.Required)" @bind-Checked="@(scope.Checked)">
                                    <span style="@(scope.Emphasize ? "font-weight: bold" : "")">
                                        @scope.DisplayName
                                    </span>
                                    @if (scope.Required)
                                    {
                                        <span><em>(必选)</em></span>
                                    }
                                    @if (scope.Description != null)
                                    {
                                        <p>@scope.Description</p>
                                    }
                                </Checkbox>
                            </div>
                        }
                    }
                }
            }

            <Divider Orientation="left" Plain>
                备注
            </Divider>
            @{
                if (ConsentSubmitModel != null)
                {
                    <TextArea Rows="2" Placeholder="对该设备进行说明" MaxLength="100" @bind-Value="@ConsentSubmitModel.Description" />
                }
            }




        </div>
        @{
            if (ConsentSubmitModel != null)
            {
                <div class="item-margin">
                    <Checkbox @bind-Checked="@ConsentSubmitModel.RememberConsent">
                        记住我的选择
                    </Checkbox>
                </div>
            }
        }
        <div class="item-margin">
            <Space>
                <SpaceItem>
                    <Button OnClick="@Allow" Type="@ButtonType.Primary" Size="@ButtonSize.Large">同意授权</Button>
                 </SpaceItem>
             </Space>

         </div>
     </div>
</IdentityServerBusinessTemplate>