@using Microsoft.AspNetCore.Components.Forms;

@typeparam TModel where TModel : class, new()
<Modal Title="@Title"
       Style="@($"top: {@Top}")"
       Visible="@_isVisible"
       Width="@Width"
       OnCancel="() => _isVisible = false"
       MaskClosable="false"
       Footer="null">
       <FormContent TModel="TModel" Model="Model" ModelChanged="ModelChangedHandle"
                 LabelAlign="LabelAlign"
                 Layout="@Layout"
                 WrapperColSpan="WrapperColSpan"
                 LabelColSpan="LabelColSpan"
                @ref="FormContentRef"
                 FormItemConfigs="FormItemConfigs">
                    @{
                        if (ChildContent != null)
                        {
                            @ChildContent(new FormItemSlotModel<TModel>() { FormItemConfig = context.FormItemConfig, Model = context.Model })
                        }
                    }
             </FormContent>

        @{
            if (!ReadOnly)
            {
                if (Operation != null)
                {
                    @Operation
                }
                else
                {
                    <div class="flex-box">
                        <div></div>
                        <div>
                            <Space>
                                <SpaceItem>
                                    <Button Type="@ButtonType.Default" OnClick="() => _isVisible = false">取消</Button>
                                </SpaceItem>
                                <SpaceItem>
                                    <Button Type="@ButtonType.Primary" OnClick="Submit">提交</Button>
                                </SpaceItem>
                            </Space>
                        </div>
                    </div>
                }
            }
        
        }
</Modal>