@page "/Account/ForgetPassword"
@layout EmptyLayout
@inherits GlobalConfigPageBase

<IdentityServerBusinessTemplate IdentityServerBusinessTemplatePageParams="IdentityServerBusinessTemplatePageParams">
    <div style="width: 70%; margin: 0 auto">
        @{
            foreach (var error in Errors)
            {
                <Alert Style="margin-bottom: 2vh" Message="@error" Type="@AlertType.Error" />
            }
        }


        <p style="font-size: 24px">请使用以下方式重置密码</p>
        <Tabs Draggable @bind-ActiveKey="TabActiveKey">
             <TabPane Tab="短信验证码" Key="0">
                 <div style="margin-top: 2vh">
                     <AntDesign.Input Placeholder="请输入手机号" AutoComplete="@false" @bind-Value="@ResetPasswordModel.PhoneNumber" Size="@InputSize.Large">
                         <Prefix>
                             <Icon Type="user" Theme="outline" />
                         </Prefix>
                     </AntDesign.Input>
                 </div>
                 <div class="item-margin">
                     <AntDesign.Input Placeholder="请输入短信验证码" AutoComplete="@false" @bind-Value="@ResetPasswordModel.ShortMessageCode" Size="@InputSize.Large">
                         <Prefix>
                             <Icon Type="lock" Theme="outline" />
                         </Prefix>
                         <Suffix>
                             @{
                                if (ShortMessageSendingIterval > 0)
                                {
                                    <Button Type="@ButtonType.Default" Size="@ButtonSize.Small" Shape="@ButtonShape.Round">@(ShortMessageSendingIterval)秒后重新发送</Button>
                                }
                                else
                                {
                                    <HumanMachineValidateOperationButton Type="@ButtonType.Default" Size="@ButtonSize.Small" Shape="@ButtonShape.Round" OnClick="SendResetPasswordByPhoneNumberValidationCodeShortMessage">获取验证码</HumanMachineValidateOperationButton>
                                }
                            }
                        </Suffix>
                    </AntDesign.Input>
                </div>
            </TabPane>
            <TabPane Tab="邮箱验证码" Key="1">
                <div style="margin-top: 2vh">
                    <AntDesign.Input Placeholder="请输入账号绑定的邮箱" AutoComplete="@false" @bind-Value="@ResetPasswordModel.Email" Size="@InputSize.Large">
                        <Prefix>
                            <Icon Type="user" Theme="outline" />
                        </Prefix>
                    </AntDesign.Input>
                </div>
                <div class="item-margin">
                    <AntDesign.Input Placeholder="请输入邮箱验证码" AutoComplete="@false" @bind-Value="@ResetPasswordModel.EmailCode" Size="@InputSize.Large">
                        <Prefix>
                            <Icon Type="lock" Theme="outline" />
                        </Prefix>
                        <Suffix>
                            @{
                                if (EmailSendingIterval > 0)
                                {
                                    <Button Type="@ButtonType.Default" Size="@ButtonSize.Small" Shape="@ButtonShape.Round">@(EmailSendingIterval)秒后重新发送</Button>
                                }
                                else
                                {
                                    <HumanMachineValidateOperationButton Type="@ButtonType.Default" Size="@ButtonSize.Small" Shape="@ButtonShape.Round" OnClick="SendResetPasswordByEmailValidationCodeEmail">获取验证码</HumanMachineValidateOperationButton>
                                }
                            }
                        </Suffix>
                    </AntDesign.Input>
                </div>
            </TabPane>


        </Tabs>
        <div class="item-margin">
            <AntDesign.InputPassword @bind-Value="@ResetPasswordModel.NewPassword"
                                     Placeholder="请输入新密码"
                                     AutoComplete="@false"
                                     Size="@InputSize.Large">
                <Prefix>
                    <Icon Type="lock" Theme="outline" />
                </Prefix>
            </AntDesign.InputPassword>
        </div>
        <div class="item-margin">
            <AntDesign.InputPassword @bind-Value="@ResetPasswordModel.NewPasswordConfirm"
                                     Placeholder="再输入一次新密码确认"
                                     AutoComplete="@false"
                                     Size="@InputSize.Large">
                <Prefix>
                    <Icon Type="lock" Theme="outline" />
                </Prefix>
            </AntDesign.InputPassword>
        </div>

        <div class="item-margin">
            <Flex Justify="space-between" Style="width: 100%">
                <Button OnClick="@Cancel" Type="@ButtonType.Default" Size="@ButtonSize.Large" Style="width: 48%">取消</Button>
                <Button OnClick="@ResetPasswordSubmit" Type="@ButtonType.Primary" Size="@ButtonSize.Large" Style="width: 48%">重置</Button>
            </Flex>

        </div>

    </div>
</IdentityServerBusinessTemplate>