@page "/LogAuditingBusiness/MessageSendedLog"

@using LightPoint.IdentityServer.Domain.DomainModels.DM04.LogAuditingResources
@using LightPoint.IdentityServer.DtoModels.DM04.LogAuditingResources
@inherits PageBase<Guid, MessageSendedLog, MessageSendedLogDM, MessageSendedLogDM>

<CardBox Title="消息发送日志">
    <Tools>
        <Space>
            <SpaceItem><RangePicker @bind-Value="DateTimeSearchParams" ShowTime='@("HH:mm")' OnChange="@((DateRangeChangedEventArgs<DateTime?[]> args) => Search())" /></SpaceItem>
            <SpaceItem><Input Placeholder="输入关键字搜索" @bind-Value="TableParameters.SearchTerm"></Input></SpaceItem>
            <SpaceItem><Button Type="@ButtonType.Primary" OnClick="Search">搜索</Button></SpaceItem>
        </Space>
    </Tools>
    <Content>
        <LightPointTable @ref="LightPointTableRef" TModel="MessageSendedLogDM" @bind-TableParameters="@TableParameters" Search="Search">
            <LightPointTdSlot TModel="MessageSendedLogDM" Name="Operation">
                <Button Type="@ButtonType.Primary" OnClick="()=> OpenForm(context.Model)">详情</Button>
                <Button Type="@ButtonType.Primary" Danger OnClick="()=> Delete(context.Model.Id)">删除</Button>
             </LightPointTdSlot>
         </LightPointTable>

         <LightPointDialogForm ReadOnly TModel="MessageSendedLogDM" @ref="LightPointFormRef" FormItemConfigs="FormItemConfigs">
         </LightPointDialogForm>
     </Content>
 </CardBox>

 @code {

    private DateTime?[] DateTimeSearchParams = new DateTime?[2] { DateTime.Now.Date, DateTime.Now };

    public override TableParameters<MessageSendedLogDM> TableParameters { get; set; } = new TableParameters<MessageSendedLogDM>()
        {
            Length = 15,
            TableColumnInfos = new List<TableColumnInfo>()
            {
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.CreateTime), Header = "产生时间", Sortable = true, Width = "200px"},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.KeyValue1), Header = "关键值1", Sortable = true, Width = "200px"},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.KeyValue2), Header = "关键值2", Sortable = true},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.KeyValue3), Header = "关键值3", Sortable = true},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.RemoteIP), Header = "请求地址", Sortable = true},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.OperationIdentityId), Header = "操作人身份Id", Sortable = true},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.OperationIdentityName), Header = "操作人名称", Sortable = true},
                new TableColumnInfo(){ Prop = nameof(MessageSendedLogDM.MessageSendedLogType), Header = "消息类型", Sortable = true},
                new TableColumnInfo(){ Prop = "Operation", Header = "操作", HasSlot = true},
            },
        };

    public override List<FormItemConfig> FormItemConfigs { get; set; } = new List<FormItemConfig>()
    {
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "Id", Placeholder = "Id", Prop = nameof(MessageSendedLogDM.Id)},
        new FormItemConfig(){ FormItemType = FormItemType.日期时间选择器, Label = "产生时间", Placeholder = "产生时间", Prop = nameof(MessageSendedLogDM.CreateTime)},
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "关键值1", Placeholder = "关键值1", Prop = nameof(MessageSendedLogDM.KeyValue1)},
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "关键值2", Placeholder = "关键值2", Prop = nameof(MessageSendedLogDM.KeyValue2) },
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "关键值3", Placeholder = "关键值3", Prop = nameof(MessageSendedLogDM.KeyValue3) },
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "登录地址", Placeholder = "登录地址", Prop = nameof(MessageSendedLogDM.RemoteIP) },
        new FormItemConfig(){ FormItemType = FormItemType.开关, Label = "操作人身份Id", Placeholder = "操作人身份Id", Prop = nameof(MessageSendedLogDM.OperationIdentityId) },
        new FormItemConfig(){ FormItemType = FormItemType.开关, Label = "操作人名称", Placeholder = "操作人名称", Prop = nameof(MessageSendedLogDM.OperationIdentityName) },
        new FormItemConfig(){ FormItemType = FormItemType.文本框, Label = "消息类型", Placeholder = "消息类型", Prop = nameof(MessageSendedLogDM.MessageSendedLogType) },
        new FormItemConfig(){ FormItemType = FormItemType.多行文本框, Label = "消息主体", Placeholder = "消息主体", Prop = nameof(MessageSendedLogDM.MessageContentDescription) },
    };

    public override Expression<Func<MessageSendedLog, bool>> MontageSearchExpression(TableParameters<MessageSendedLogDM> TableParameters)
    {
        if (DateTimeSearchParams.Length == 2 && DateTimeSearchParams[0] != null && DateTimeSearchParams[1] != null)
        {
            return x => x.CreateTime.Date >= DateTimeSearchParams[0] && x.CreateTime <= DateTimeSearchParams[1];
        }
        return null!;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await Search();
            StateHasChanged();
        }

        base.OnAfterRender(firstRender);
    }
}
